/* Header */
.header {
    padding: 0 2.5rem;
}
#header-nav-mobile--drop + label span {
    background-color: var(--white);
}


/* Hero */
.hero-title {
    font-size: 4.5rem;
}
.hero-link {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



/* Accessories */
.accessories-title {
    font-size: 3.5rem;
}
.accessories-text {
    font-size: 1.8rem;
}
.accessories-link--title {
    font-size: 1.6rem;
}

/* Rackets */
.rackets-slider--title {
    font-size: 5rem;
}
.rackets-slider--text {
    font-size: 1.8rem;
}

/* Footer */
.footer {
    padding: 5rem 4rem;
}
.footer-container {
    flex-direction: row;
    justify-content: space-between;
}
.footer-menu--list {
    display: flex;
}
.footer-menu--item {
    margin-right: 3.5rem;
}
.footer-social--item {
    margin: 1rem .5rem;
}
.footer-logo {
    width: 5rem;
}